# App runtime
NODE_ENV=production
PORT=3000

# Admin auth (REQUIRED in production)
ADMIN_USER=change-this-admin-user
ADMIN_PASS=change-this-strong-password
SESSION_SECRET=change-this-long-random-secret

# DB: use mysql in production
DB_CLIENT=mysql
DB_HOST=database-it-ticketing.xxxxx.ap-south-2.rds.amazonaws.com
DB_PORT=3306
DB_USER=admin
DB_PASS=change-this-db-password
DB_NAME=it_ticketing
